<div *ngIf="currentStep >=0">
  <div *ngIf="steps && steps.length">
    <div class="step-container">
      <h2>Step {{ currentStep + 1 }} of {{ steps.length }}</h2>
      <p>{{ steps[currentStep].description }}</p>  
      <div *ngIf="steps[currentStep].timer">
        <countdown #cd [config]="{leftTime: steps[currentStep].duration, demand: true}" (event)="onTimerFinished($event);"/>
        <div>
          <button (click)="cd.begin()" class="btn btn-link btn-sm">Start</button>
          <button (click)="cd.pause()" class="btn btn-link btn-sm">Pause</button>
          <button (click)="cd.resume()" class="btn btn-link btn-sm">Weiter</button>
          <button (click)="cd.restart()" class="btn btn-link btn-sm">Neustart</button>
        </div>
      </div>
      <div *ngIf="steps[currentStep].timer" class="navigation-buttons" >
        <button (click)="previousStep()" [disabled]="currentStep === -1">Vorheriger Schritt</button>
        <button (click)="nextStep()" [disabled]="currentStep === steps.length - 1 || (!done && steps[currentStep].necessary)">Nächster Schritt</button>
      </div>
      <div *ngIf="!steps[currentStep].timer" class="navigation-buttons" >
        <button (click)="previousStep()" [disabled]="currentStep === -1">Vorheriger Schritt</button>
        <button (click)="nextStep()" [disabled]="currentStep === steps.length - 1">Nächster Schritt</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="currentStep < 0">
  <div class="ingredient-container">
    <h2>Zutaten:</h2>
    <ul>
      <li *ngFor=" let ingredient of ingredients">{{ingredient.name}}: {{ingredient.amount}}</li>
    </ul>
  </div>
  <div class="navigation-buttons">
    <button (click)="nextStep()">Backen!</button>
  </div>
</div>

  